@using ExpressVoitures.Models.Entities
@model IEnumerable<ExpressVoitures.Models.Entities.Annonce>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>ExpressVoitures</title>
    <link rel="stylesheet" href="@Url.Content("~/css/Style.css")">
</head>
<br />
<div id="panel-body">
    <h2>Nos voitures</h2>
    @if (User.IsInRole("Admin"))
    {
        <a href="/Admin/AddCar" class="add-car-btn">+ Ajouter une voiture</a>
    }

    <div class="car-container">
        @foreach (Annonce a in Model)
        {
            @if (a.Vehicule.Statut == StatutVehicule.EnVente || (a.DateDispoVente != DateOnly.MinValue && a.Vehicule.Statut != StatutVehicule.Vendu) || (User.IsInRole("Admin") || User.IsInRole("Moderator")))
            {
                <div class="car-card" data-id="@a.Id">
                    @if (a.Photo != null && a.Photo.Length > 4)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(a.Photo))" alt="Photo de la voiture" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Ressources/placeholder.jpg")" alt="Aucune photo disponible" />
                    }

                    <div class="car-details">
                        <h3>@a.Vehicule.Marque @a.Vehicule.Model</h3>
                        <p>Année: @a.Vehicule.Annee</p>
                        <p>Finition: @a.Vehicule.Finition</p>
                        <p class="price">Prix: @a.Price €</p>
                    </div>
                </div>
                <form id="form-@a.Id" asp-action="SeeCarIndex" asp-controller="CarDetail" method="post" style="display:none;">
                    <input type="hidden" name="idToTransfer" value="@a.Id" />
                </form>
            }
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".car-card").forEach(function (card) {
            card.addEventListener("click", function () {
                const id = card.getAttribute("data-id");
                const form = document.getElementById(`form-${id}`);
                if (form) {
                    form.submit();
                }
            });
        });
    });
</script>
