@using ExpressVoitures.Models.Entities
@model IEnumerable<ExpressVoitures.Models.Entities.Transaction>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<div id="panel-body">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>
                    <label>Année</label>
                </th>
                <th>
                    <label>Marque</label>
                </th>
                <th>
                    <label>Modèle</label>
                </th>
                <th>
                    <label>Finition</label>
                </th>
                <th>
                    <label>Prix</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Transaction t in Model)
            {
                <tr>
                    <td>@t.Vehicule.Annee</td>
                    <td>@t.Vehicule.Marque</td>
                    <td>@t.Vehicule.Model</td>
                    <td>@t.Vehicule.Finition</td>
                    <td style="text-align:center">@t.PrixVente <label> €</label></td>
                    <td>
                        <form id="@t.VehiculeId" asp-action="SeeCarIndex" asp-controller="CarDetail" method="post">
                            <input type="hidden" name="id" value="@t.Id" />
                            <button type="submit" class="btn btn-primary">
                                Information
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Admin/AddCar">ajouter une voiture</a>
</div>
