@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using ExpressVoitures.Models.Entities
@model ExpressVoitures.Models.ViewModels.DataAllInclusive
@{
    Layout = "_Layout";
}
@{
    var user = await UserManager.GetUserAsync(User);
    if (user == null || (!await UserManager.IsInRoleAsync(user, "Admin") && !await UserManager.IsInRoleAsync(user, "Moderator")))
    {
        <script type="text/javascript">
            window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }
}

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="SaveUpdateCar" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.dataAnnonce.Id" />
    <input type="hidden" asp-for="@Model.dataVehicule.Id" />
    <div class="mb-3 col-6">
        <label>CodeVIN :</label>
        <input asp-for="@Model.dataVehicule.CodeVin" class="form-control" />
    </div>
    <div class="mb-3 col-4">
        <label>Année :</label>
        <input asp-for="@Model.dataVehicule.Annee" class="form-control" />
    </div>
    <div class="mb-3 col-8">
        <label>Marque :</label>
        <input asp-for="@Model.dataVehicule.Marque" class="form-control">
    </div>
    <div class="mb-3 col-4">
        <label>Model :</label>
        <input asp-for="@Model.dataVehicule.Model" class="form-control">
    </div>
    <div class="mb-3 col-8">
        <label>Finition :</label>
        <input asp-for="@Model.dataVehicule.Finition" class="form-control">
    </div>
    <div class="mb-3 col-6">
        <label>Date d'achat :</label>
        <input asp-for="@Model.TransactionA.Date" class="form-control" />
    </div>
    <div class="mb-3 col-4">
        <label>Prix d'achat :</label>
        <input asp-for="@Model.TransactionA.Price" class="form-control" />
    </div>

    <div id="repairs-container">
        @for (int i = 0; i < Model.dataReparations.Count; i++)
        {
            <div class="repair-item">
                <div class="mb-3 col-8">
                <label>Réparation :</label>
                    <input name="dataReparations[@i].Type" value="@Model.dataReparations[i].Type" class="form-control" />
            </div>
            <div class="mb-3 col-4">
                <label>Coût des réparations :</label>
                    <input name="dataReparations[@i].Prix" value="@Model.dataReparations[i].Prix" class="form-control" />
            </div>
            </div>
        }
    </div>
    <button type="button" id="add-repair" class="btn btn-secondary">+</button>


    <div class="mb-3 col-8">
        <label>Description :</label>
        <input asp-for="@Model.dataAnnonce.Description" class="form-control" />
    </div><div class="mb-3 col-8">
        <label for="Photo">Photo :</label>
        @if (Model.dataAnnonce.Photo != null)
        {
            <p>Photo actuelle :</p>
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.dataAnnonce.Photo)" alt="Photo" class="img-thumbnail" />
        }
        else
        {
            <p>Aucune photo trouvée dans le modèle.</p>
        }
        <input type="file" name="Photo" class="form-control" />
    </div>
    <div class="mb-3 col-4">
        <label>État :</label>
        <select asp-for="@Model.dataVehicule.Statut" asp-items="Html.GetEnumSelectList<StatutVehicule>()" class="form-control">
            <option value="">-- Sélectionnez un état --</option>
        </select>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Enregistrer" />
    </div>
</form>

<script>
    let repairIndex = @Model.dataReparations.Count; // repair Index
    document.getElementById('add-repair').addEventListener('click', function () {
        const container = document.getElementById('repairs-container');

        // Creat new block
        const newRepair = document.createElement('div');
        newRepair.classList.add('repair-item');
        newRepair.innerHTML = `
            <div class="mb-3 col-8">
                <label>Réparation :</label>
                    <input name="dataReparations[${repairIndex}].Type" class="form-control" />
            </div>
            <div class="mb-3 col-4">
                <label>Coût des réparations :</label>
                    <input name="dataReparations[${repairIndex}].Prix" class="form-control" />
            </div>
        `;

        // Add block
        container.appendChild(newRepair);
        repairIndex++;
    });
</script>