@using ExpressVoitures.Models.Entities
@model ExpressVoitures.Models.Entities.Annonce
@{
    ViewData["Title"] = "Car Page";
}
<br />
<div id="panel-body">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th><label>Année</label></th>
                <th><label>Marque</label></th>
                <th><label>Modèle</label></th>
                <th><label>Finition</label></th>
                <th><label>Prix</label></th>
                <th><label>Description</label></th>
                <th><label>Photo</label></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Vehicule != null)
            {
                <tr>
                    <td>@Model.Vehicule.Annee</td>
                    <td>@Model.Vehicule.Marque</td>
                    <td>@Model.Vehicule.Model</td>
                    <td>@Model.Vehicule.Finition</td>
                    <td style="text-align:center">@Model.Price <label> €</label></td>
                    <td>@Model.Description</td>
                    <td>
                        @if (Model.Photo != null && Model.Photo.Length > 4)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo))" alt="Photo" style="max-width: 100px; max-height: 100px;" />
                        }
                        else
                        {
                            <span>Aucune photo</span>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="5">Véhicule non disponible</td>
                </tr>
            }
        </tbody>
    </table>
    
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        @using (Html.BeginForm("DeletCar", "CarDetail", FormMethod.Post))
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-danger">Supprimer le véhicule</button>
        }

    }
</div>
