@using ExpressVoitures.Models.Entities
@model ExpressVoitures.Models.Entities.Transaction
@{
    ViewData["Title"] = "Car Page";
}
<br />
<div id="panel-body">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>
                    <label>Année</label>
                </th>
                <th>
                    <label>Marque</label>
                </th>
                <th>
                    <label>Modèle</label>
                </th>
                <th>
                    <label>Finition</label>
                </th>
                <th>
                    <label>Prix</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Vehicule != null)
            {
                <tr>
                    <td>@Model.Vehicule.Annee</td>
                    <td>@Model.Vehicule.Marque</td>
                    <td>@Model.Vehicule.Model</td>
                    <td>@Model.Vehicule.Finition</td>
                    <td style="text-align:center">@Model.PrixVente</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="5">Véhicule non disponible</td>
                </tr>
            }
        </tbody>
    </table>
    
    @using (Html.BeginForm("DeletCar", "CarDetail", FormMethod.Post))
    {
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Supprimer le véhicule</button>
    }
</div>
