@using ExpressVoitures.Models.Entities
@model IEnumerable<ExpressVoitures.Models.Entities.Vehicule>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<div id="panel-body">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>
                    <label>Année</label>
                </th>
                <th>
                    <label>Marque</label>
                </th>
                <th>
                    <label>Modèle</label>
                </th>
                <th>
                    <label>Finition</label>
                </th>
                <th>
                    <label>Prix</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Vehicule v in Model)
            {
                <tr>
                    <td>@v.Annee</td>
                    <td>@v.Marque</td>
                    <td>@v.Model</td>
                    <td>@v.Finition</td>
                    <td style="text-align:center">@v.PrixVente</td>
                </tr>
            }
        </tbody>
    </table>
</div>
