@using ExpressVoitures.Models.Entities
@model ExpressVoitures.Models.Entities.Annonce
@{
    ViewData["Title"] = "Car Page";
}
<head>
    <title>ExpressVoitures</title>
    <link rel="stylesheet" href="@Url.Content("~/css/CarIndexStyle.css")">
</head>
<div id="panel-body">
    <div class="return-link">
        <a href="/" class="back-link">← Retour</a>
    </div>
    @if (Model.Vehicule != null)
    {
        <div class="vehicle-details">
            @if (Model.Photo != null && Model.Photo.Length > 4)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo))" alt="Photo de la voiture" />
            }
            else
            {
                <img src="@Url.Content("~/Ressources/placeholder.jpg")" alt="Aucune photo disponible" />
            }

            <div class="details-container">
                <p class="price"><strong>Prix :</strong> @Model.Price €</p>
                <p><strong>Année :</strong> @Model.Vehicule.Annee</p>
                <h2>@Model.Vehicule.Marque @Model.Vehicule.Model</h2>
                <p><strong>Finition :</strong> @Model.Vehicule.Finition</p>
                <p><strong>Description :</strong> @Model.Description</p>
                <p>
                    <strong>Disponibilité :</strong>
                    @if (Model.Vehicule.Statut == StatutVehicule.EnVente)
                    {
                        <span>Immédiate</span>
                    }
                    else
                    {
                        @Model.DateDispoVente
                    }
                </p>
            </div>
        </div>

        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            <div class="actions-container">
                @using (Html.BeginForm("DeleteCar", "CarDetail", FormMethod.Post))
                {
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Supprimer l'annonce</button>
                }
                @using (Html.BeginForm("UpdateCar", "CarDetail", FormMethod.Post))
                {
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary">Modifier l'annonce</button>
                }
            </div>
        }
    }
    else
    {
        <p>Véhicule non disponible</p>
    }
</div>
